{% extends 'base.html.twig' %}

{% block title %}OrderrForm index{% endblock %}

{% block body %}
    <h1>OrderrForm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Phone</th>
                <th>NameAndSurname</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip</th>
                <th>Note</th>
                <th>TotalPrice</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderr_form in orderr_forms %}
            <tr>
                <td>{{ orderr_form.id }}</td>
                <td>{{ orderr_form.email }}</td>
                <td>{{ orderr_form.phone }}</td>
                <td>{{ orderr_form.nameAndSurname }}</td>
                <td>{{ orderr_form.street }}</td>
                <td>{{ orderr_form.city }}</td>
                <td>{{ orderr_form.zip }}</td>
                <td>{{ orderr_form.note }}</td>
                <td>{{ orderr_form.totalPrice }}</td>
                <td>{{ orderr_form.created ? orderr_form.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('orderr_form_show', {'id': orderr_form.id}) }}">show</a>
                    <a href="{{ path('orderr_form_edit', {'id': orderr_form.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orderr_form_new') }}">Create new</a>
{% endblock %}
