{% extends 'base.html.twig' %}

{% block title %}OrderrForm{% endblock %}

{% block body %}
    <h1>OrderrForm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orderr_form.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ orderr_form.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ orderr_form.phone }}</td>
            </tr>
            <tr>
                <th>NameAndSurname</th>
                <td>{{ orderr_form.nameAndSurname }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ orderr_form.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ orderr_form.city }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ orderr_form.zip }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ orderr_form.note }}</td>
            </tr>
            <tr>
                <th>TotalPrice</th>
                <td>{{ orderr_form.totalPrice }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ orderr_form.created ? orderr_form.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('orderr_form_index') }}">back to list</a>

    <a href="{{ path('orderr_form_edit', {'id': orderr_form.id}) }}">edit</a>

    {{ include('orderr_form/_delete_form.html.twig') }}
{% endblock %}
