
{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <table class="table">
                <tbody>
                <tr>
                    <td>email:</td>
                    <td>{{form_widget(form.email)}}</td>
                    <td>{{form_errors(form.email)}}</td>
                </tr>
                <tr>
                    <td>Telefon :</td>
                    <td>{{form_widget(form.phone)}}</td>
                    <td>{{form_errors(form.phone)}}</td>
                </tr>
                <tr>
                    <td>Meno a Priezvisko:</td>
                    <td>{{form_widget(form.nameAndSurname)}}</td>
                    <td>{{form_errors(form.nameAndSurname)}}</td>
                </tr>

                <tr>
                    <td>Ulica</td>
                    <td>{{form_widget(form.street)}}</td>
                    <td>{{form_errors(form.street)}}</td>
                </tr>
                <tr>
                    <td>Mesto</td>
                    <td>{{form_widget(form.city)}}</td>
                    <td>{{form_errors(form.city)}}</td>
                </tr>
                <tr>
                    <td>PSC</td>
                    <td>{{form_widget(form.zip)}}</td>
                    <td>{{form_errors(form.zip)}}</td>
                </tr>
                <tr>
                    <td>Poznamka</td>
                    <td>{{form_widget(form.note)}}</td>
                    <td>{{form_errors(form.note)}}</td>
                </tr>
{#                <tr>#}
{#                    <td>Datum</td>#}
{#                    <td>{{form_widget(form.created)}}</td>#}
{#                    <td>{{form_errors(form.created)}}</td>#}
{#                </tr>#}
                </tbody>
            </table>
            <button class="btn btn-success">{{ button_label|default('Objednat') }}</button>
            <button class="btn btn-success"><a href="{{ path('product_list_index') }}">Spat</a></button>
            {{ form_end(form) }}
