{% extends 'base.html.twig' %}

{% block title %}Orderr index{% endblock %}

{% block body %}
    <h1>Orderr index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Phone</th>
                <th>NameAndSurname</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip</th>
                <th>Note</th>
                <th>TotalPrice</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderr in orderrs %}
            <tr>
                <td>{{ orderr.id }}</td>
                <td>{{ orderr.email }}</td>
                <td>{{ orderr.phone }}</td>
                <td>{{ orderr.nameAndSurname }}</td>
                <td>{{ orderr.street }}</td>
                <td>{{ orderr.city }}</td>
                <td>{{ orderr.zip }}</td>
                <td>{{ orderr.note }}</td>
{#                <td>{{ orderr.totalPrice }}</td>#}
{#                <td>{{ orderr.created ? orderr.created|date('Y-m-d H:i:s') : '' }}</td>#}
                <td>
                    <a href="{{ path('orderr_show', {'id': orderr.id}) }}">show</a>
                    <a href="{{ path('orderr_edit', {'id': orderr.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orderr_new') }}">Create new</a>
{% endblock %}
